<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deuterium</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/assets/reset.css">

    <link rel="stylesheet" href="/assets/styles.css">

    <script src="/assets/main.js"></script>
</head>
<body>
<div class="content">
    <h1 class="maintitle">Deuterium</h1>
    <h2 style="text-align: center;"><i>Bringing space weather down to Earth</i></h2>

</br>

    <h2 style="text-align: center;">Enter a place on Earth.</h2>

    <div class="searchbox-container">
        <input type="text" class="searchbox" id="searchbox" oninput="updatePlaceList()">
    </div>

    <div class="searchitems-container" id="searchitems-container">
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <span id="three-earth"></span>
</div>
<script src="/assets/three.js"></script>
<script src="/assets/earth.js"></script>

<script>
    setLatLong(51.7457, 2.2178)
</script>
</body>
</html>