<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deuterium</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/assets/reset.css">

    <link rel="stylesheet" href="/assets/styles.css">

    <script src="/assets/location.js"></script>
    <script src="/assets/three.js"></script>
</head>
<body>
<div class="earthsection">
    <div class="earthimg-wrapper">
        <span id="three-earth"></span>
    </div>
    <div class="earthtext">
        <p>
            <b>Earth weather in {{ placeName }}</b>
        </p>
        <p>
            <span id="weatherSummary">↻</span>
        </p>
        <p>
            Earth Wind speed is <span id="earthWindSpeed">↻</span>kph with gusts of <span id="earthGustSpeed">↻</span>kph
        </p>
        <p>
            The temperature is <span id="earthTemp">↻</span>°C - you aren't cooking an egg on that!
        </p>
    </div>
    <script src="/assets/earth.js"></script>
</div>
<div class="sunsection">
    <div class="sunimg-wrapper">
        <img src="/assets/0304-small.png" alt="sun" class="sunimg">
    </div>
    <div class="suntext">
        <p>
            <b>Equivalent weather on Sol at {{ latAdjusted }}°N, {{ lonAdjusted }}°E</b>
        </p>
        <p>Solar Wind speed is <span id="solarWindSpeed">↻</span>kph</p>
        <p>X rays are <span id="xRayStatus">↻</span></p>
        <p>The magnetosphere is <span id="magnetoStatus">↻</span></p>
        <p>Position is <span id="sunspotInfo">↻</span> a sunspot with a <span id="flareInfo">↻</span> chance of solar flares.</p>
        <p>The temperature is <span id="solTemp">↻</span>K - an egg would vaporise in <span id="eggVaporiseTime"></span> milliseconds</p>
    </div>
</div>

<script src="/assets/three.js"></script>
<script src="/assets/earth.js"></script>

<script>
    setLatLong({{ lat }}, {{ lon }})
</script>
</body>
</html>